.chessboard {
    /*border: 1px solid black;*/
    width: 320px;
    height: 320px;
    flex-wrap: wrap;
}

.square {
    width: 40px;
    height: 40px;
}

.black {
    background-color: white;
}

.white {
    background-color: black;
}